<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="in.wowtruck.jobschedulerexample">

    <!-- To Access Internet -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- Location permission -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <!-- To Change Network Connection between to wifi or Data Connection -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!--Restart the service after boot complete-->
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <!--To Powermanager-->
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <!--To show notification in foreground-->
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <application
        android:name=".MainApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service android:name=".MyJobService"
            android:permission="android.permission.BIND_JOB_SERVICE"
            android:exported="true"/>


        <service android:name=".fcm.MyFirebaseMessagingService"
            android:exported="true"
            android:enabled="true">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <service android:name=".fcm.MyFirebaseInstanceIDService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/ic_app_logo_64"
            android:value="Wowtruck_customer" />
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/colorPrimary"
            android:value="Wowtruck_customer" />

        <!-- This is for oreo -->
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_channel_id"
            android:value="102" />

    </application>

</manifest>